body, html {
  font-family: 'Source Sans Pro';
  font-weight: lighter;
  padding: 0;
  margin: 0;
  text-align: center;
  min-height: 100%;

}
/*FIRST PAGE*/
/*Title*/
.index-header h1{
    font-size: 29px;
    margin-top: 5%;

}
h1 {
  font-family: 'MillerBanner';
  font-weight:lighter;
  margin-bottom: -0.25%;

}

/*Sub-Title*/
h2{
  margin-top: 0%;
  margin-bottom: -1%;
  color: #717171;
  font-weight: lighter;
  font-size: 19px;

}

#title-left{
 margin-left: -200px;
}
#title-right{
  margin-left: 200px;
}
/*Square*/
.index-square{
  margin-top: 5%;
  margin-bottom: 5%;
}
/*#square {
  margin-left: auto;
  margin-right: auto;
  width: 23px;
  height: 23px;
  background: #434242;
}*/

#square {
  /*margin-top: 5%;
  margin-bottom: 5%;*/
  display: inline-block;
  width: 23px;
  height: 23px;
  position: relative;
  background: #434242;
  top: 50%;
}


.rotate{
  animation: loader 2s;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Body*/
p{
  font-size: 13px;
  letter-spacing: 0.52px;
}

.left{
  color: #717171;
}
.right{
 letter-spacing: 0.6px;
 margin-left: 212px;
}
a{
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}
/*footer*/
#footer-index{
      margin-top: 8%;
}

/*PROJECTS PAGE*/

.projects-name{
  font-family: 'MillerBanner';
  font-weight:lighter;
}
#projects-image{
    margin-top: 2%;
    width:705px;
    height: auto;
}

/*PROJECT PAGE SHARE*/
.projects-header{
  text-align: left;
  margin-left: 2%;
  margin-top: 1%;

}
.projects-header h1{
  font-size: 25px;
}
.projects-header h2{
  font-size: 14px;
  width: 143px;
  text-align: justify;
}

.projects-title{
  border-bottom: 0px solid;
  margin-top: 4%;
  margin-bottom: 0%;
}
.projects-title:hover{
  border-bottom: 1px solid;

}

.projects-square{
  margin-top: 2%;
}

.footer-projects{
  font-size: 13px;
  letter-spacing: 0.52px;
  color: #717171;
  margin-bottom: 10px;
}
.footer-left{
  position:fixed;
  bottom: 30px;
  left: 3%;
}
.footer-middle{
  position: fixed;
  bottom : 30px;
  /*margin-bottom: 30px;*/
}
.footer-right{
  position:fixed;
  bottom: 30px;
  right: 3%;
}

/*APPARITION*/
#apparition-text{
  margin: 4% auto 7% auto;
  width: 314px;
  text-align: justify;
  /*color: #717171;*/
}

/*FIREFLY*/
.firefly-text{
  /*color: #717171;*/
  margin: 3% auto 3% auto;
  width: 342px;
  text-align: justify;
}

.firefly-img img{
  width: 340px;
  height: auto;
  margin: 0 11.5px 4% 11.5px;
}

/*PEUR*/
.peur-text{
  margin: 3% 0 2% 0;
}
.peur-text-left{
  margin: 0 310px 0 0;
}
.peur-text-right{
  margin: 0 0 0 310px;
}
.peur-img img{
  width: 310px;
  height: auto;
  margin: 0 11.5px 2% 11.5px;
}

/*DISPARITION*/
.disparition-text{
  margin: 3% auto 3% auto;
  width: 380px;
  text-align: justify;
}
.disparition-img img{
  margin: 0 0 3% 1%;
  /*text-align: center;
  width: 339px;
  height : auto;*/
}
/*PIEDESTAL*/
.piedestal-text{
  margin: 3% auto 3% auto;
  width: 200px;
  text-align: justify;
}
.piedestal-img img{
width : 300px;
height: auto;
margin-bottom: 1%;
}

/*THOMAS*/
.thomas-name{
  font-family: 'MillerBanner';
  font-weight:lighter;
}
.thomas-subname{
  font-family: 'MillerBanner';
  font-weight:lighter;
  color: black;
  font-size: 23px;
  margin-bottom: 2.30%;
}
.thomas-name{
  font-family: 'MillerBanner';
  font-weight:lighter;
  color: black;
}
.thomas-body{
  margin-left: 255px;
  margin-top: 3.5%;
}
.thomas-text{
  margin: 0 auto 0 auto;
  width: 255px;
  text-align: justify;
}
.thomas-img img{
  margin: 3% auto 8% auto;
  width : 255px;
  height: auto;
}

/*KINECT*/

.kinect-text {
  margin: 0 auto -15px auto;
  width : 290px;
  text-align: justify;

}
.kinect-gif img{
  margin: 4% 0 3% 0;
  width : 450px;
  height: auto;
}
.kinect-img img{
  margin-left: 89px;
  width : 600px;
  height: auto;
}
.kinect-bottom{
  margin-bottom: 3%;
}
