@font-face {
    font-family: 'millerbannerlight';
    src : url('millerbanner.otf');
}
@font-face {
    font-family: 'sourceSans';
    src : url('SourceSansPro-Light.otf');
}

body, html {
  font-family: 'sourceSans';
  font-weight: lighter;
  padding: 0;
  margin: 0;
  text-align: center;
  min-height: 100%;

}
/*ST PAGE*/
/*Title*/
.index-header h1{
    font-size: 29px;
    margin-top: 5%;
}


h1 {
  font-family: 'millerbannerlight';
  font-weight: lighter;
  margin-bottom: -0.25%;
}

/*Sub-Title*/
h2{
  margin-top: 0%;
  margin-bottom: -1%;
  color: #717171;
  font-weight: lighter;
  font-size: 19px;

}
/*@media screen and (min-width: 200px) and (max-width: 640px) {*/
@media only screen and (min-width: 600px){
  #title-left{
   margin-left: -200px;
  }
  #title-right{
    margin-left: 200px;
  }
}

/*Square*/
.index-square{
  margin-top: 5%;
  margin-bottom: 5%;
}

#square {

  display: inline-block;
  width: 23px;
  height: 23px;
  position: relative;
  background: #434242;
  top: 50%;
}


.rotate{
  animation: loader 2s;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Body*/
p{
  font-size: 14px;
  letter-spacing: 0.52px;
}

.left{
  color: #717171;
}
.right{
 letter-spacing: 0.6px;
 margin-left: 212px;
}
@media only screen and (max-width: 600px){
  p{
    font-size: 14px;
  }
  .left{
    width:250px;
    text-align: justify;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }
  .right{
   width:250px;
   text-align: justify;
   margin-left: auto;
   margin-top: 1%;
  }
}

a{
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}
/*footer*/
#footer-index{
      margin-top: 8%;
}

/*PROJECTS PAGE*/

.projects-name{
  font-family: 'millerbannerlight';
  font-weight:lighter;
  margin-top: 3.4%;
}

ul{
list-style-type: none;
}
li{
  display: inline;

}
@media only screen and (max-width: 770px){
  ul{
  list-style-type: none;
  text-align: center;;
  padding: 0 0 0 0;
  }
  li{
    display: list-item;
  }
}

.projects-image{
    width:705px;
    height: auto;
}

/*PROJECT PAGE SHARED*/
.projects-header{
  text-align: left;
  margin-left: 2%;
  margin-top: 1%;
}

.projects-header h1{
  font-size: 28px;
}
.projects-header h2{
  font-size: 16px;
  width: 162px;
  text-align: justify;
}
@media only screen and (max-width: 700px){
  .projects-header{
    text-align: center;
    margin-left: 0%;
    margin-top: 1%;
    margin-bottom: 2%;
  }
  .projects-header h2{
    margin-left: auto;
    margin-right: auto;
  }
}

.projects-title{
  font-size: 17px;
  border-bottom: 0px solid;
  margin-top: 4%;
  margin-bottom: 0%;
}
.projects-title:hover{
  border-bottom: 1px solid;
}


.projects-square{
  margin-top: 2%;
}

.footer-projects{
  font-size: 13px;
  letter-spacing: 0.52px;
  color: #717171;
  margin-bottom: 10px;
}
.footer-left{
  position:fixed;
  bottom: 30px;
  left: 3%;
}
.footer-middle{
  position: fixed;
  bottom : 30px;
}

.footer-middle-scroll{
  /*position: static;
  margin-top : -40%;*/
  margin-bottom: 5%;
}
.footer-projects-scroll{
  font-size: 13px;
  letter-spacing: 0.52px;
  color: #717171;
  margin-bottom: 40px;
}
.footer-right{
  position:fixed;
  bottom: 30px;
  right: 3%;
}
@media only screen and (max-width: 768px){

  .footer-left{
    float: left;
    left: 3%;
  }
  .footer-middle{
    position: relative;
    bottom: 20px;
  }
  .footer-right{

    float: right;
    right: 3%;
  }

}
/*APPARITION*/
#apparition-text{
  margin: 4% auto 7% auto;
  width: 335px;
  text-align: justify;
}
@media only screen and (max-width: 320px){
  #apparition-text{
    margin-bottom: 20%;
    width: 250px;
    text-align: justify;
  }
}

/*FIREFLY*/
.firefly-text{
  margin: 3% auto 3% auto;
  width: 350px;
  text-align: justify;
}

.firefly-img img{

  margin: 0 11.5px 4% 11.5px;
}
@media only screen and (max-width: 768px){
  .firefly-img img{
    margin-bottom: 10%;
  }
}
@media only screen and (max-width: 320px){
  .firefly-text{
    width: 250px;
    margin: 3% auto 3% auto;

  }
  .firefly-img img{
    width: 300px;
    height: auto;
    margin-bottom: 25%;
  }

}

/*PEUR*/
.peur-text{
  margin: 3% 0 2% 0;
}
.peur-text-left{
  margin: 0 310px 0 0;
}
.peur-text-right{
  margin: 0 0 0 310px;
}
.peur-img img{
  width: 320px;
  height: auto;
  margin: 0 11.5px 2% 11.5px;
}
@media only screen and (max-width: 768px){
  .peur-img {
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 700px){
  .peur-text-left{
    margin: 5% 0 0 0;
  }
  .peur-text-right{
    margin: 0 0 5% 0;
  }
}
@media only screen and (max-width: 320px){
  .peur-img img{
    width: 250px;
    height: auto;
    margin: 0 11.5px 2% 11.5px;
  }
}
/*DISPARITION*/
.disparition-text{
  margin: 3% auto 3% auto;
  width: 380px;
  text-align: justify;
}
.disparition-img img{
  margin: 0 0 3% 1%;
  width: 495px;
}
@media only screen and (max-width: 606px){
  .disparition-text{
    margin: 3% auto 3% auto;
    width: 250px;
    text-align: justify;
  }

  .disparition-img img{
    width: 320px;
    height: auto;
  }
}
/*PIEDESTAL*/
.piedestal-text{
  margin: 3% auto 3% auto;
  width: 206px;
  text-align: justify;
}
.piedestal-img img{
width : 300px;
height: auto;
margin-bottom: 1%;
}
@media only screen and (max-width: 768px){
.piedestal-img img{
  margin-bottom: 10%;
}
}

/*THOMAS*/
.thomas-name{
  font-family: 'millerbannerlight';
  font-weight:lighter;
}
.thomas-subname{
  font-family: 'millerbannerlight';
  font-weight:lighter;
  color: black;
  font-size: 23px;
  margin-bottom: 2.30%;
}
.thomas-name{
  font-family: 'millerbannerlight';
  font-weight:lighter;
  color: black;
}
.thomas-body{
  margin-left: 255px;
  margin-top: 3.5%;
}
.thomas-text{
  margin: 0 auto 0 auto;
  width: 255px;
  text-align: justify;
}
.thomas-img img{
  margin: 3% auto 8% auto;
  width : 255px;
  height: auto;
}
@media only screen and (max-width: 700px){
  .thomas-body{
    margin-left: auto;
    margin-top: 3.5%;
  }
}
/*KINECT*/

.kinect-text {
  margin: 0 auto -15px auto;
  width : 290px;
  text-align: justify;

}
.kinect-gif img{
  margin: 4% 0 3% 0;
  width : 450px;
  height: auto;
}
.kinect-img img{
  margin-left: 110px;
  width : 600px;
  height: auto;
}
.kinect-bottom{
  margin-bottom: 3%;
}
